In [3]:
import pandas as pd

In [4]:
revenue_sources = ['Property, Sales, REET, and other Taxes', 'Licenses & Permits','Gov\'t. Grants & Shared Revenues',
        'Direct Charges for Services Provided','Development & Court Fines','Interest Income, Rent, &  Miscellaneous']
revenue_values_2017_2018 =  [78940000, 5106000, 12005700, 32808500, 558900, 2716080]
revenue_values_2019_2020 = [ 85180000 , 4882000, 8814113, 30935600, 647000, 3970880]

In [5]:
df = pd.DataFrame(list(zip(revenue_sources, revenue_values_2017_2018, revenue_values_2019_2020)), 
               columns =['Revenue Sources', '2017-2018', '2019-2020'])

In [6]:
df.head()

                          Revenue Sources  2017-2018  2019-2020
0  Property, Sales, REET, and other Taxes   78940000   85180000
1                      Licenses & Permits    5106000    4882000
2         Gov't. Grants & Shared Revenues   12005700    8814113
3    Direct Charges for Services Provided   32808500   30935600
4               Development & Court Fines     558900     647000